@import './styles';
@import './margins';

/*desktop width: min 768px*/

body {
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: row-reverse;

    width: 80%;
    border-radius: 9px;

    text-align: start;

    .cover {
        border-radius: 0 9px 9px 0;

        .mobile {
            display: none;
        }
        img {
            height: 100%;
            border-radius: 0 9px 9px 0;
        }
    }

    /*purple tilt over the photo - this doesn't work I give up.. */
    .overlay {       
        height: 100%;
        width: auto;
        position: fixed;
        background-color: rgba(188, 5, 255, 0.3);
   }

    .introduction {

        display: flex;
        flex-direction: column;
        justify-content: center;

        padding: 0 72px;


        .intro-1 {
            h1, span {
                font-size: 38px;
            }
        }

        .intro-2 {
            padding: 32px 0;
            p {
                font-size: 18px;
            }
        }

        .intro-3 {
            display: flex;
            flex-direction: row;
            
            div {
                padding: 40px 64px 0 0;
            }

            h2 {
                font-size: 24px;
            }
            p {
                font-size: 15px;
            }
        }
    }

}

footer {
    padding: 12px;
    font-size: 18px;
    a {
        text-decoration: none;
        color: $softViolet;
    }
}